body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 0;
}

.grid-container {
    height: 560px;
    width: 560px;
    border: 2px solid black;
    display: grid;
}

.grid-box {
    background-color: white;
    border: 1px solid black;
}

#gridNum {
    width: 40px;
    margin-right: 2px;
}