body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    height: 600px;
    width: 600px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
}

.grid-box {
    background-color: white;
    border: 1px solid black;
}